<!DOCTYPE html>
<html>
<head lang="ko">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="SuperCrown">
  <meta name="description" content="반응형 사이트 만들기 튜토리얼 입니다.">

  <!-- HTML5shiv -->
  <!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<![endif]-->

  <!-- IE checker -->
  <script src="/javascripts/ie-checker-min.js"></script>

  <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/stylesheets/main/main.css">
    <link rel="stylesheet" href="/stylesheets/accounts/master.css">
</head>
<body>
<div id="wrap">
    <!-- ======  Nav section start  ====== -->
    <% include ../nav.ejs %>
    <!-- ======  Nav section end  ====== -->
     <div class="edit">
  <h3>Update User Information</h3>
  <form id="update_user" class="users_form" action="/accounts/<%= user.id %>?_method=put" method="post">
    <label>Current Password* <span id="password_error" class="error_message"><%= passwordError?passwordError:"" %></span></label>
    <input type="password" id="password" name="user[password]" value="">
    <hr><br>
    <label>Email* <span id="email_error" class="error_message"><%= emailError?emailError:"" %></span></label>
    <input type="text" id="email" name="user[email]" value="<%= formData?formData.email:(user?user.email:"") %>">
    <label>Nickname* <span id="nickname_error" class="error_message"><%= nicknameError?nicknameError:"" %></span></label>
    <input type="text" id="nickname" name="user[nickname]" value="<%= formData?formData.nickname:(user?user.nickname:"") %>">
    <label>New Password</label>
    <input type="password" id="new_password" name="user[newPassword]" value="">
    <label>Password Confirmation <span id="password_confirmation_error" class="error_message"></span></label>
    <input type="password" id="password_confirmation" name="user[passwordConfirmation]" value="">
    <p><small>*Required</small></p>
    <input type="button" class="submit_btn" value="submit">
  </form>
  <a href="javascript:history.back()"><button>Back</button>
</div>

</div>
<!-- ======  Wrap section end  ====== -->

  <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/nav.js"/>
    <script type="text/javascript" src="/javascripts/userform.js"></script>
    <script>
      
    </script>
</body>

</html>